* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.list_unstyle {
    list-style: none;
}

:root {
    --mainColor: #7b5244;
    --subColor: #333;
}

a {
    text-decoration: none;
}

.section-padding {
    padding: 30px 0;
}

.section-header {
    text-align: center;
    margin-bottom: 25px;
}

.section-header .line {
    display: block;
    width: 100px;
    margin: auto;
    height: 3px;
    background-color: var(--mainColor);
    transition: .5s;
}

.section-title {
    font-size: 30px;
    margin: auto;
    margin-bottom: 10px;
    width: 300px;

}

.section-title:hover ~ .line {
    width: 200px;

}


/* ***************************************** */



/* header */

header {
    padding: 30px 0;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content img {
    flex: 1;
    max-width: 170px;
}

.header-content nav {
    flex: 3;
    text-align: center;
}

.header-content .login {
    flex: 1;
    text-align: right;
}

.header-content ul li {
    display: inline-block;
}

.header-content ul li,
.header-content ul li a {
    color: var(--subColor);
}


.header-content nav ul li .link-item {
    padding: 10px 25px;
    display: block;
    font-weight: bold;
    position: relative;

}


.header-content nav ul li .link-item:before {
    content: " ";
    position: absolute;
    border-width: 0 2px;
    border-color: var(--mainColor);
    border-style: solid;
    width: 99%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform .2s;
    transform: scale3d(1, 0, 1);

}

.header-content nav ul li .link-item:hover:before {
    transform: scale3d(1, 1, 1);
}



.header-content nav ul li .link-item:after {
    content: " ";
    position: absolute;
    border-width: 2px 0;
    border-color: var(--mainColor);
    border-style: solid;
    width: 100%;
    height: 91%;
    top: 0;
    left: 0;
    transition: transform .2s;
    transform: scale3d(0, 1, 1);
    transform-origin: left;

}

.header-content nav ul li .link-item:hover:after {
    transform: scale3d(1, 1, 1);
    transition-delay: .2s;
}



.header-content .login ul li a {
    padding: 10px 10px;
    font-weight: bold;
}

.header-content .login ul li:last-child a {
    position: relative;
    margin: 10px;
}


.header-content .login ul li:last-child a::after {
    position: absolute;
    content: "0";
    background-color: var(--mainColor);
    color: #fff;
    font-size: 10px;
    padding: 5px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
}



/* dropdown*/

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 600px;
    margin-top: 5px;
    border: 2px solid var(--mainColor);
    padding: 15px;
    visibility: hidden;
    transform: scale(0);
    transition: transform .5s, visibility .5s;
}

.dropdown:hover .dropdown-menu {
    transform: scale(1);
    visibility: visible;
}


.dropdown-menu ul {
    display: table-cell;
    text-align: left;
}




.dropdown-menu ul li:first-child a {

    display: block;
    margin-bottom: 10px;
    border-bottom: 1px dotted var(--mainColor);

}

.dropdown-menu ul li {
    line-height: 1.7;
    display: block;
    margin: 10px 30px;
}


/*************************************************************/



/* slider */

section.slider img {
    width: 100%;
}


/*************************************************************/


/* category section css */


.category-items {
    /* display: grid;
    grid-template-columns: auto auto auto auto; */
    display: flex;
    grid-gap: 20px;
}

.category-item {
    position: relative;

}

.category-item:hover .icon {
    visibility: visible;
    opacity: 1;
}

.category-item img {
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.category-item-subtitle {
    color: gray;
    font-weight: normal;
}

.category-item .icon {
    width: 30px;
    height: 30px;
    background-color: var(--mainColor);
    color: #fff;
    display: block;
    text-align: center;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}



.discount {
    margin: 30px 0;
    display: flex;
}

.discount-desc{
    flex: 2;
    background-color: #f7f3ef;
    padding: 20px;
    position: relative;
}

.discount-desc .top{
    position: relative;
    padding-left: 60px;
    margin-bottom: 20px;
}

.discount-desc .top + p{
    line-height: 1.7;
}

.discount-desc .top .icon{
    position: absolute;
    left: 0px;
    top: 5px;
    font-size: 50px;
    color: var(--mainColor);
}

.discount-desc .bolletes{
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.discount-desc .bolletes span{
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: var(--mainColor);
    margin-left: 10px;
}



.discount-item{
    flex: 1;
    height: 300px;
    position: relative;

}

.discount-item-info{
    position: absolute;
    top: 20px;
    left: 10px;
}

.discount-item-info h3{
    font-weight: normal;
    color: var(--mainColor);
}

.discount-item-info h2{
    font-size: 20px;
    font-weight: bold;
    color: var(--subColor);
}

.discount-item:nth-child(2){
    background-image: url(../images/cms-banner-1.jpg);
    background-size: cover;
    margin: 0 20px;
}

.discount-item:nth-child(3){
    background-image: url(../images/cms-banner-2.jpg);
    background-size: cover;
}



.sprites{
    display: flex;
}

.sprite-item{
    flex: 1;
    text-align: center;
    border-right: 1px solid var(--mainColor)
}

.sprite-icon{
    background-image: url(../images/service-icon.png);
    height: 60px;
    background-repeat: no-repeat;
    transition: .8s;
}

.sprite-icon-1{
    background-position: center 5px;
    
}

.sprite-icon-2{
    background-position: center -180px;
}

.sprite-icon-3{
    background-position: center -360px;
}

.sprite-icon-4{
    background-position: center -550px;
}

.sprite-icon-5{
    background-position: center -730px;
}

.sprite-icon-1:hover{
    background-position: center -85px;
}

.sprite-icon-2:hover{
    background-position: center -270px;
}

.sprite-icon-3:hover{
    background-position: center -455px;
}

.sprite-icon-4:hover{
    background-position: center -635px;
}

.sprite-icon-5:hover{
    background-position: center -825px;
}




.sprite-item:last-child{
    border: none;
}

.sprite-info h3{
    font-size: 18px;
}

.sprite-info span{
    color: gray;
    font-size: 15px;
}


/*************************************************************/


/* products section */


.products{
    /* text-align: center; */
}

.list-products{
    display: flex;
    justify-content: center;
    
}

.list-products li{
    margin: 10px 20px;
    font-size: 25px;
    cursor: pointer;
}

.list-products li:hover{
    color: gray;
}


.product-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


.product-img{
    position: relative;
}

.product-overlay{
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: transform .5s;
}

.product-overlay ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.product-overlay ul li{
width: 40px;
height: 40px;
background-color: var(--mainColor);
display: inline-block;
text-align: center;
}

.product-overlay ul li i{
    color: #fff;
    line-height: 40px;
}

.product-item:hover .product-overlay{
    transform: scale(1);
}